<div class="panel panel-warning">
  <div class="panel-heading">
    <span class="panel-title">
      OAuth Developer Tools
    </span>
  </div>

  <div class="panel-body">
    <div class="alert alert-info" role="alert">
      <strong>Heads up!</strong> We only show this in 
      the development environment.
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= link_to('Logout', destroy_user_session_path, class: 'btn btn-danger btn-block') %>
      </div>
    </div>
  </div>
  <div class="panel-footer">

  </div>
</div>